<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="GeissDbSqlProvider" connectionString="Data Source=MRU_OA_PC\SQL_SERVER;Initial Catalog=GeissDB;Persist Security Info=True;User ID=sa;Password=sql_server" />
    <add name="GeissBarcodeTest.Properties.Settings.GeissDBConnectionString"
      connectionString="Data Source=MRU_OA_PC\SQL_SERVER;Initial Catalog=GeissDB;Persist Security Info=True;User ID=sa;Password=sql_server"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>